*{
    margin: 0px;
    padding: 0px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nv-lst{
    display: flex;
    gap: 32px;
    align-items: center;
}

.nv-lst li{
    list-style-type: none;
}

.nv-btn{
width: 164px;
height: 44px;
justify-content: center;
align-items: center;
padding: 12px 16px 12px 16px;
border-radius: 4px;
background:  rgba(70, 145, 101, 1);

}